.top-container {
 background-color: #E9EFC0;
position: relative;
padding-top: 40px;

}

body{
 text-align: center;
 margin: 0;

}
.top-cloud{
 position: absolute;
right: 70px;
}
.bottom-cloud{
 position: absolute;
 left: 70px;
}

h1{
 margin-top: 50px;
 font-size: 375%;
 line-height: 2;
 color: #66BFBF;
 font-family: 'Sacramento', cursive;
}

.python-logo{
 display: inline;
 margin-right: 30px;
 top: 20px;
 width: 25%;
 float: left;
 }
.html-logo{
 position: relative;
 top: 20px;
 width: 25%;
float: right;
margin-left: 30px

}
h3{
 color: #11999E;
}
a{
 color: #11999E;
}
h2{
 color:  #66BFBF;
 font-size: 2.5rem;
 font-weight: normal;
 font-family: 'Montserrat', sans-serif;
 margin: 50px auto 0 auto;
}
.skill-row{
 width: 50%;
margin: 100px auto 100px auto;
text-align: left;
line-height: 2;


}
hr {
  
 border-style: none;
 border-top-style: dotted;
 border-width: 5px;
 width: 5%;
 color: #005555;
 margin: 100px auto 100px auto;
 
}
.bottom-container{
 margin-top: 50px;
 background-color: #66BFBF;
 padding-top: 30px;
}
.footer-link-twitter{
 margin-right: 100px;
}
.btn {
 -webkit-border-radius: 8;
 -moz-border-radius: 8;
 border-radius: 8px;
 font-family: 'Montserrat', sans-serif;
 color: #EAF6F6;
 font-size: 20px;
 background: #30e3cb;
 padding: 10px 20px 10px 20px;
 text-decoration: none;
}
.copyright{
 padding: 50px 0 20px;
 margin-bottom: 0;
 color: #EAF6F6;
 font-size: 0.75rem;
}
a{
 color: #11999E;
 font-family: 'Montserrat', sans-serif;
 text-decoration: none;
}
a:hover{
 color: #EAF6F6;
}

.btn:hover {
 background: #32e3c5;
 background-image: -webkit-linear-gradient(top, #32e3c5, #2bc4ad);
 background-image: -moz-linear-gradient(top, #32e3c5, #2bc4ad);
 background-image: -ms-linear-gradient(top, #32e3c5, #2bc4ad);
 background-image: -o-linear-gradient(top, #32e3c5, #2bc4ad);
 background-image: linear-gradient(to bottom, #32e3c5, #2bc4ad);
 text-decoration: none;
}
.get-in-touch{
 margin-bottom: 100px;
}
.profile-picture{
 margin-top: 50px;
}

